.form {
    display: flex;
    flex-direction: column;

    .input {
        padding: 9px 15px 11px;
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        
        font-size: 16px;
        line-height: 1;
    }

    .button {
        align-self: center;
    }
}


